<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>lesson1</title>
<style>
	.black {
		background-color: #000;
	}
	.chara {
		font-size: 30px;
	}
	.space {
		padding: 30px;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="js/myscript.js"></script>
</head>
<body ng-controller="MyController">
	<!--form>
		<label for="name">名前：</label>
		<input type="text" id="name" name="name" ng-model="myName">
		<button ng-click="onclick()">送信</button>
	</form>
	<p>{{greeting}}</p>

	<form>
		<button ng-click="myStyle={backgroundColor: '#f00', color: '#fff'}">赤</button>
		<button ng-click="myStyle={backgroundColor: '#0f0', color: '#fff'}">緑</button>
		<button ng-click="myStyle={backgroundColor: '#00f', color: '#fff'}">青</button>
		<div ng-class="['black', 'chara', 'space']">
			テスト
		</div>
	</form-->

	<!--form>
		<label for="show">表示／非表示</label>
		<input type="checkbox" ng-model="show">
		<button ng-click="onclick()">背景反転</button>
		<input type="email" id="mail" name="mail" ng-model="user.mail" ng-init="user.mail = 'kanai@hotmail.com'">

		<select id="season" name="season" ng-model="season" ng-options="season.value as season.name for season in seasons"></select>
	</form>
	<div id="panel" class="panel panel-default" ng-if="show">
		<div>{{obj}}</div>
	</div>

	<div ng-switch="season">
		<span ng-switch-when=""></span>
	</div-->

	<form name="myForm" ng-submit="onsubmit()" novalidate>
		<p>
			<input type="email" name="mail" ng-model="user.email" required>
			<div ng-messages="myForm.mail.$error" ng-if="myForm.mail.$touched && myForm.mail.$invalid">
				<span ng-message="required">入力必須</span>
				<span ng-message="email">正しい形式</span>
			</div>
		</p>

		<p>
			<input type="passwd" name="passwd" ng-model="user.passwd" ng-minlength="6" required>
			<span ng-show="myForm.passwd.$error.required">パスワードは必須です</span>
			<span ng-show="myForm.passwd.$error.minlength">パスワードは6文字</span>
		</p>
		<p><input type="submit" value="登録" ng-disabled="myForm.$invalid"></p>
		
		<textarea name="" ng-model="tweet" ng-change="onchange()" id="" cols="30" rows="10"></textarea>
		{{count}}
	</form>
</body>
</html>